# Core
python-dotenv

# LLM & RAG
langchain
langchain-community
langchain-core

# Embeddings
sentence-transformers

# Vector Store
faiss-gpu

# Local LLM Communication
requests

# NLP
nltk

# Document Processing
pypdf
python-docx

# Audio / Video Processing
openai-whisper
ffmpeg-python

# GUI
customtkinter
tk

# Utilities
tqdm
numpy
